{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsAppBuddy | Microbloggin App</title>
    <!--adding custum stylesheets-->
    <link rel="StyleSheet" href="{% static 'css/lander.css'%}">
    <link rel="StyleSheet" href="{% static 'css/common.css'%}">
    
    
</head>
<body>
    <div class="container">
        <div class="top-container">
            <div class="slider">
                <div class="slide-item">
                    <img src="">
                    <div>
                      This is working
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>