{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsAppBuddy | Microbloggin App</title>
    <!--adding custum stylesheets-->
    <link rel="StyleSheet" href="{% static 'css/common.css'%}">
    <link rel="StyleSheet" href="{% static 'css/lander.css'%}">
    
</head>
<body>
    <div class="container">
       <div class="left-container">
         <img src="{%static 'images/0 KIKnUvzdIkp5zcDJ.jpg'%}">
         <div class="some-imp-text">
             <h3>Join WhatAppBuddy today.</h3>
         </div>
       </div>
       <div class="right-container">
        <div class="form-box">
            <form action="" method="post" onsubmit="return validateFrom()" id="loginForm">
                {%csrf_token%}
                <img src="{%static 'images/iconfinder_boy_403024.png'%}">
                <input type="text" placeholder="username">
                <input type="password" placeholder="password">
                <button type="submit">Log in</button>
                <div class="create-account-section">
                    <span>Don't have any account?</span>
                    <a href="accounts/singup">Create an account</a>
                </div>
            </form>
        </div>
       </div>
    </div>    
</body>
</html>
<script src="{%static 'sweetalert2/dist/sweetalert2.all.min.js'%}"></script>
<script src="{%static 'js/loginvalidation.js'%}"></script>
